<!-- templates/search.html -->

{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="columns is-mobile is-centered">
        <div class="column is-half">
            <div class="notification is-success is-centered has-text-center" id="new_record_msg">
                <button class="delete" onclick="document.getElementById('new_record_msg').style.display='none'"></button>
                <b>{{ messages[0] }}</b>
            </div>
        </div>
    </div>
{% endif %}
{% endwith %}
<div class="columns">
    <div class="column">
        <div class="box">

            <label class="label has-text-left">Draw a structure or enter SMILES:</label>

            <div class="field is-grouped">
                <p class="control is-expanded">
                    <input class="input" id="log" type="text" name="Smiles" placeholder="SMILES" form="reaction_form">
                </p>
            </div>

            <div id="jsme_container"></div>
        </div>
    </div>

    <div class="column">
        <div class="box">
            <p style="font-weight: bold;">Additional Parameters</p>
            <form method="GET" action="/add" id="reaction_form">
                <table id="add_table" class="table is-striped">
                    {% for field in form_fields %}
                        <tr>
                            <th>{{ field }}</th>
                            <th><input class="input" id="{{ field }}" type="text" name="{{ field }}" placeholder="Input {{ field }}"></th>
                        </tr>
                    {% endfor %}
                </table>
                <div>
                    <input class="button is-success" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}