<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Вход</title>
    <script type="text/javascript" language="javascript" src="{{ url_for('search_bp.static', filename='jsme/jsme.nocache.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ url_for('main_bp.static', filename='js/main.js') }}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('main_bp.static', filename='style/style.css') }}">
    <script>

        //this function will be called after the JavaScriptApplet code has been loaded.
        function jsmeOnLoad() {

            jsmeApplet = new JSApplet.JSME("jsme_container", "600px", "440px", {
                "options": "newlook,query,hydrogens",
                "guicolor": "#bfbfbf",
            });

            jsmeApplet.setAfterStructureModifiedCallback(showEvent);

            document.getElementById("log").value = "";
        }

        var patt = /\[([A-Za-z][a-z]?)H?\d*:\d+\]/g; //regexp pattern for numbered atom
        function showEvent(event) {

            let log = document.getElementById("log");
            log.value = event.src.smiles();

        }

        function showValue(value) {
            document.getElementById("mol_weight_range").innerText = value;
        }

    </script>
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('main_bp.index') }}" class="navbar-item">
                                Structure Search
                            </a>
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main_bp.profile') }}" class="navbar-item">
                                Profile
                            </a>
                            {% endif %}
                            {% if name == "Dmitry B.V." %}
                            <a href="{{ url_for('search_bp.search') }}" class="navbar-item">
                                SQLite Workplace
                            </a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth_bp.login') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('auth_bp.signup') }}" class="navbar-item">
                                Sign Up
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth_bp.logout') }}" class="navbar-item">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered is-max-desktop">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>