<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<div class="columns">
  <div class="column"></div>
  <div class="column is-two-thirds" style="margin: 0rem 0rem 15rem">
      <div class="box">
          <div class="field" id="logo_field">
            <img src="{{ url_for('main_bp.static', filename='img/logo_title.png') }}" width="600">
          </div>
          <form class="field" method="POST" action="/search/1">
            <label class="label has-text-centered">Draw a structure or enter SMILES:</label>
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input class="input" id="log" name="smiles" type="text" placeholder="SMILES">
              </p>
              <p class="control">
                <input class="button is-info" type="submit" value="Search">
              </p>
            </div>
            <table class="table" id="menu_container">
              <tr>
                <td>
                  <div id="db-radio" class="control has-text-centered" style="padding: 1%;">
                    <label class="radio" style="margin-left: -10%;">
                      <input type="radio" name="database" value="chembl" checked>
                      ChEMBL
                    </label>
                  </div>
                </td>
                <td>
                  <div class="select">
                    <select id="select_chembl" name="mols_dropdown">
                      <option>Full</option>
                      <option>Substructure</option>
                      <option>Similarity</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div id="db-radio" class="control has-text-centered" style="padding: 1%;">
                    <label class="radio">
                      <input type="radio" name="database" value="reactions">
                      Reactions
                    </label>
                </td>
                <td>
                  <div class="select">
                    <select id="select_reactions" name="reactions_dropdown" disabled>
                      <option>Reaction</option>
                      <option>Reactants</option>
                      <option>Products</option>
                      <option>Conditions</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2" id="sim_row">
                  <form>
                    <p>Similarity: <output name="result" id="sim_output" for="sim_slider"></output></p>
                    <input class="slider" id="sim_slider" name='similarity_value' step="1" min="0" max="100" value="100" type="range">
                  </form>                
                </td>
              </tr>
              <tr id="conditions_row">
                <td>
                  <p style="margin-left: 5%;">Environment:</p>
                </td>
                <td>
                  <div class="select">
                    <select id="select_conditions" name="condition_dropdown">
                      {% for condition in conditions %}
                      <option>{{ condition }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </td>
              </tr>
            </table>
          </form>
          <button class="button is-info is-outlined" type="button" id='jsme_button' onclick="showApp()">Draw Structure</button>
      </div>
      <div id="jsme" class="box" style="display: none;">
        <article>
          <div id="jsme_container"></div>
          <button class="button is-danger is-outlined is-fullwidth" onclick="closeApp()">Close JSME</button>
        </article>
      </div>
  </div>
  <div class="column"></div>
</div>
{% endblock %}