<!-- templates/search.html -->

{% extends "base_search.html" %}

{% block content %}
<div class="columns">
    <div class="column">
        <div class="box">
            <div style="height:600px; overflow:auto;">
                <table id="main_table" class="table is-striped">
                    <tr>
                        <th colspan="7">
                            <label class="label">Structures was found: {{ amount }}</label>
                        </th>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <th>ChEMBL ID</th>
                        <th>Molecular Weight</th>
                        <th>HBA Lipinski</th>
                        <th>HBD Lipinski</th>
                        <th>Molecular Species</th>
                        <th>Molecular Formula</th>
                    </tr>
                    {% for mol in molecules %}
                    <tr>
                        <td>{{ mol['id'] }}</td>
                        <td>{{ mol['chembl_id'] }}</td>
                        <td>{{ mol['mol_weight'] }}</td>
                        <td>{{ mol['hba_lipinski'] }}</td>
                        <td>{{ mol['hbd_lipinski'] }}</td>
                        <td>{{ mol['mol_species'] }}</td>
                        <td>{{ mol['mol_formula'] }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <div style="text-align: center;">
                    <button id="prev_page" onclick="onSearch(-1)" disabled><<</button>
                    <span id='page'>1</span>
                    <button id="next_page" onclick="onSearch(1)" disabled>>></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

